<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.mapper.UserMapper">

    <select id="findUserByPassword" resultType="User">
        SELECT user_name,user_password,role,user_id,group_id FROM users${gId} WHERE user_id = #{id}
    </select>
    <select id="getUserList" resultType="User">
        SELECT * FROM users${gId}
    </select>
    <insert id="addUser" parameterType="User">
        insert into users${user.getGroupId} (user_id,user_password,user_name,user_tel,email,department,group_id,role) values
         (#{user.userId},#{user.userPassword},#{user.userName},#{user.userTel},#{user.email},#{user.department},#{user.groupId},#{user.role})
    </insert>
</mapper>