<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.mapper.InfosMapper">
    <insert id="addInfos" parameterType="Infos" >
        insert into infos (group_id,user_id,img_feature) values (#{infos.groupId},#{infos.userId},#{infos.imgFeature});
    </insert>
    <delete id="deleteInfos" parameterType="java.lang.String">
        DELETE FROM infos WHERE infos.user_id = #{userId}
    </delete>
</mapper>